@{ ViewData["Title"] = "Confirmation Page";
}

@*Confirmation page for submitting a task*@

<h1>Well done. Your entry has been submitted.</h1>
<h3>Click <a asp-controller="Home" asp-action="QuadrantView">here</a> to be directed to the <a asp-controller="Home" asp-action="QuadrantView">task table</a>.</h3>
