@{
    ViewData["Title"] = "Home Page";
}

@*Home page with basic information on the website!*@
<div class="text-center">
    <h1 class="display-4">Digital Task Organizer</h1>
    <br />
    <div class="box-shadow border-dark" style="background-color:lightgrey">
        <br />
        <p>
            The tasks of life can easily pile up and get out of hand.<br /> When this happens and you want to better control your life,
            it is important to remember the advice <br />given by Dale Carnegie in his book <i>How to Win Friends and Influence People</i>
        </p>

        <h4>"Putting First Things First"</h4>

        <p>This site is to help you manage life's neverending list of tasks, allowing you to live a life where you feel in control.</p>
        <br />
    </div>
    <br />
    <a class="btn-group" asp-controller="Home" asp-action="AddView">Get Started by Submitting a Task Here</a>
</div>
